.logo {
    text-align: center;
}
.coupon {
    text-align: center;
}
h1 {
    text-align: center;
    color: #5C3317;
    border-bottom: solid #5C3317;
}
h2,h3 {
    text-align: center;
    color: #5C3317;
}
.form {
    font-size: large;
    color: #5C3317;
    font-family: 'Courier New', Courier, monospace;
}
input[type=text],textarea {
    width: 30%;
    border-end-end-radius: 10px;
}
input[type=email] {
    width: 30%;
    border-end-end-radius: 10px;
} 
input[type=submit] {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5C3317;
    color: white;
    cursor: pointer;
}
input[type=reset] {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5C3317;
    color: white;
    cursor: pointer;
}
#books, #notebooks, #planners {
    text-align: center;
    color: #5C3317;
}
.orderform {
    font-size: large;
    color: #5C3317;
    font-family: 'Courier New', Courier, monospace;
}
#ul_nav_bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5C3317;
}
.li_nav_bar {
    display: inline-block;
}
.li_nav_bar a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 16px;
}
.li_nav_bar a:hover {
    background-color:#D2B48C;
}
p {
    padding-left: 25%;
    padding-right: 25%;
    font-size: large
}
tr:hover {
    background-color: lightgray;
}
#books, #notebooks, #planners {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none; /* removes line from hyperlink */
}
a:hover {
    background-color: #D2B48C
}
body {
    background-color: #F9F6EE;
}